body {
  overflow: hidden;
}

$vertical-grid-space: 10;
$horizontal-grid-space: 12.6;
$grid-row-cells : 3;
$tile-size : 90;
$speed-transition: .2s;

@keyframes scaleTileAnimation {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(95);
  }

  100% {
    transform: scale(91);
  }
}


@keyframes scaleTextAnimation {
  0% {
    font-size: 1px;
  }

  100% {
    font-size: 30px;
  }
}

.new-tile-added {
  animation: scaleTileAnimation $speed-transition $speed-transition forwards;
}

.new-tile-number {
  animation: scaleTextAnimation $speed-transition $speed-transition forwards;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    0% {
      transform: translate(0, 0);
    }

    @content;
  }

  @-moz-keyframes #{$animation-name} {
    0% {
      transform: translate(0, 0);
    }

    @content;
  }

  @keyframes #{$animation-name} {
    0% {
      transform: translate(0, 0);
    }

    @content;
  }
}

.tst-no-move {
  animation: no-move $speed-transition ease 0ms forwards;
}

@keyframes no-move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@for $i from 1 through $grid-row-cells {
  .tst-move-x--#{$i} {
    @include animation(moveXLeft#{$i} $speed-transition ease 0ms forwards);
  }

  @include keyframes(moveXLeft#{$i}) {
    100% {
      $iPos: (
        $tile-size + $horizontal-grid-space) * $i*(-1
      );
    transform: translate(#{$iPos}px, 0);
  }
}

.tst-move-x-#{$i} {
  @include animation(moveXRight#{$i} $speed-transition ease 0ms forwards);
}

@include keyframes(moveXRight#{$i}) {
  100% {
    $iPos: (
      $tile-size + $horizontal-grid-space) * $i;
    transform: translate(#{$iPos}px, 0
  );
}
}

.tst-move-y--#{$i} {
  @include animation(moveYUp#{$i} $speed-transition ease 0ms forwards);
}

@include keyframes(moveYUp#{$i}) {
  100% {
    $iPos: (
      $tile-size + $vertical-grid-space) * $i*(-1
    );
  transform: translate(0, #{$iPos}px);
}
}

.tst-move-y-#{$i} {
  @include animation(moveYDown#{$i} $speed-transition ease 0ms forwards);
}

@include keyframes(moveYDown#{$i}) {
  100% {
    $iPos: (
      $tile-size + $vertical-grid-space) * $i;
    transform: translate(0, #{$iPos}px
  );
}
}
}
